{% extends 'frontend/base/base.html' %}
{% load static %}

{% block page_content %}

<div class="wrapper wrapper-content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="ibox">
          <div class="ibox-title">
            <h1> Groundwater levels raw data and download</h1>
            <br>
            <p>This data has been collected on a monthly basis as part of a pilot project by the GWRDB from February 2021 using manual measurement techniques with tablet-based data upload through open data kit (ODK) software. For downloading all data, select show '1000' entries and press CSV on the upper right corners.
            </p>
            <p>
              Variables:<br>
              <ul>
                <li>District, Latitude, Longitude, Altitude, and Precision are location and GPD information of the well location.</li>
                <li>Well type is "sw" for shallow tubewell and "dw" for deep tubewell.</li>
                <li>Gw_level is the groundwater level in m below ground level.</li>
                <li>Height of Measurment Point (MP) refers to the heigh of the well outlet where the groundwater level is measured.</li>
              </ul>
            </p>
          </div>
          <div class="ibox-content">
            <table id="masterDataTable" class="table dt-responsive display nowrap w-100" style="width:100%">
              <thead>
                <tr>
                  {% for ht in columHeader %}
                  <th>{{ht|title}}</th>
                  {% endfor %}

                </tr>
              </thead>
              <tbody>

              </tbody>

            </table>


          </div>

        </div>

      </div>

    </div>

  </div>

</div>
</div>
{% endblock %}


{% block js_block %}

<!-- third party js -->
    <script src="{% static 'js/plugins/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/plugins/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <!-- <script src="{% static 'js/plugins/datatables.net-responsive/js/dataTables.responsive.min.js' %}"> -->
    </script>
    <!-- <script src="{% static 'js/plugins/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"> -->
    </script>
    <script src="{% static 'js/plugins/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'js/plugins/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
    <script src="{% static 'js/plugins/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'js/plugins/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
    <script src="{% static 'js/plugins/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'js/plugins/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
    <script src="{% static 'js/plugins/datatables.net-select/js/dataTables.select.min.js' %}"></script>
    <script src="{% static 'js/plugins/pdfmake/build/pdfmake.min.js' %}"></script>
    <script src="{% static 'js/plugins/pdfmake/build/vfs_fonts.js' %}"></script>
    <!-- third party js ends -->
<script>
  $(document).ready(function() {

    // Setup - add a text input to each footer cell
    $('#masterDataTable thead tr').clone(true).appendTo( '#masterDataTable thead' );
    $('#masterDataTable thead tr:eq(1) th').each( function (i) {
        var title = $(this).text();
        $(this).html( '<span class="d-none">'+title+'</span><input type="text" placeholder="Search '+title+'" />' );

        $( 'input', this ).on( 'keyup change', function () {
            if ( table.column(i).search() !== this.value ) {
                table
                    .column(i)
                    .search( this.value )
                    .draw();
            }
        } );
    } );

    // DataTable
    var table = $('#masterDataTable').DataTable( {
      "scrollX": true,
      "processing": true,
      "serverSide": true,
      "destroy": true,
      // "bFilter": false,
      "ajax": "{% url 'download-table-ajax-data' %}",
      "dom": '<"html5buttons"B>lTfgitp',
      "lengthMenu": [
          [10, 25, 50, 100, 500, 1000],
          [10, 25, 50, 100, 500, 1000]
      ],
    } );


  })

</script>

{% endblock %}

{% block css_block %}
<!-- third party css -->
    <link href="{% static 'js/plugins/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}"
        rel="stylesheet" type="text/css" />
    <link href="{% static 'js/plugins/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}"
        rel="stylesheet" type="text/css" />
    <link href="{% static 'js/plugins/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}"
        rel="stylesheet" type="text/css" />
    <link href="{% static 'js/plugins/datatables.net-select-bs4/css/select.bootstrap4.min.css' %}"
        rel="stylesheet" type="text/css" />
    <!-- third party css end -->

    <style media="screen">
      .btn-secondary {
        color: #fff;
        background-color: #1ab394;
        border-color: #1ab394;
    }
    </style>

{% endblock %}
