{% extends 'frontend/base/base.html' %}
{% load static %}

{% block page_content %}

<div class="wrapper wrapper-content">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="ibox">
          <div class="ibox-title">
            <h1>Groundwater well selection</h1>
          </div>
          <div class="ibox-content">

            <div class="">
              <p>Districts</p>
              <div class="i-checks p-w-sm"><label> <input type="checkbox" value="Banke" class="district" checked> <i></i> Banke</label></div>
              <div class="i-checks p-w-sm"><label> <input type="checkbox" value="Bardiya" class="district"> <i></i> Bardiya </label></div>

            </div>
            <div class="">
              <p>Type of Well</p>

              <div class="i-checks p-w-sm"><label> <input type="checkbox" value="2"class="well_type"> <i></i> Deep Tubewell</label></div>
              <div class="i-checks p-w-sm"><label> <input type="checkbox" value="1" class="well_type" checked> <i></i> Shallow Tubewell </label></div>
            </div>



          </div>

        </div>

      </div>
      <div class="col-md-9">
        <div class="ibox">
          <div class="ibox-title">
            <h1>Locations of monitoring wells:</h1>
          </div>
          <div class="ibox-content">
            <div class="map" id="map">  <!--  Try to use more descriptive IDs.-->

            </div>

          </div>

        </div>
        <div class="ibox">
          <div class="ibox-title">
            <h1> Lastest manual groundwater levels measurement:</h1>
          </div>
          <div class="ibox-content">

            <div class="map" id="mapNew">

            </div>

          </div>

        </div>
        <div class="ibox">
          <div class="ibox-title">
            <h2> Overview of manual groundwater level measurements:</h2>

          </div>
          <div class="ibox-content">
            <div class="form-group">
              <label class="font-normal">Please select wells of interest:</label>
              <div class="p-w-sm">
                <input type="checkbox" id="checkbox" name="checkbox"> Select All
                <br />
                <select data-placeholder="Choose a Well..." class="select2_wells form-control" multiple="multiple" >

                </select>
              

              </div>
            </div>
            <div id="container" style="height: 500px; min-width: 310px">
            </div>

          </div>

        </div>

        <div class="ibox">
          <div class="ibox-title">
            <h2>Offline logger based groundwater measurements:</h2>

          </div>
          <div class="ibox-content">
            <div class="form-group">
              <label class="font-normal">Sensor based measurement of water level. Measurements are taken 2 times per day. Data are updated sporadically as manual reading of the sensors is required. Please select wells of interest: </label>
              <div class="p-w-sm">
                <input type="checkbox" id="checkbox1" name="checkbox1"> Select All
                <br />
                <select data-placeholder="Choose a Well..." class="select2_wells_offline form-control" multiple="multiple">

                </select>
              </div>
            </div>
            <div id="containerLogger" style="height: 500px; min-width: 310px">
            </div>

          </div>

        </div>

      </div>

    </div>

  </div>
</div>

{% endblock %}


{% block js_block %}

<script src="{% static 'js/plugins/leaflet/leaflet.js' %}"></script>
<!-- Chosen -->
<script src="{% static 'js/plugins/chosen/chosen.jquery.js' %}"></script>

<!-- Select2 -->
<script src="{% static 'js/plugins/select2/select2.full.min.js' %}"></script>

<!-- iCheck -->
<script src="{% static 'js/plugins/iCheck/icheck.min.js' %}"></script>

<!-- highcharts load -->
<script src="{% static 'js/plugins/highcharts/highstock.js' %}"></script>
<script src="{% static 'js/plugins/highcharts/modules/data.js' %}"></script>
<script src="{% static 'js/plugins/highcharts/modules/exporting.js' %}"></script>
<script src="{% static 'js/plugins/highcharts/modules/export-data.js' %}"></script>


<!-- This seems to be where you load the data into gj used for layers
     Some more explanation on why you do it this way and what's the logic
     would be helpful. 

     Also for the historical page, the js components seem to be fully in the
     html file. Recommend to keep a strict seperations with clear guidance in each file.

     Consistency is critical.

   -->

<script type="text/javascript">
  var gj = {
      "name": "MyFeatureType",
      "type": "FeatureCollection",
      "features": []
    };
    var select2_options = [];
    var location_check = [];
    // create geojson with points
    {% if gw_locations %}
      {% for gw in gw_locations %}
        gj.features.push({
          "type": "Feature",
          "geometry": {
            "type": "Point",
            "coordinates": [{{gw.longitude}}, {{gw.latitude}}]
          },
          "properties": {
            'well_number': '{{gw.well_number}}',
            'district':'{{gw.district}}',
            'place': '{{gw.location}}',
            'type': '{{gw.type.name}}',
            'id':'{{gw.id}}'
          }
        });

      if (location_check.indexOf('{{gw.location}}') == -1) {
        select2_options.push({
          id:'{{gw.location}}', text:'{{gw.location}}', district:'{{gw.district}}', type:{{gw.type.id}}
        });
      };
      location_check.push('{{gw.location}}');

      var select2_options_offline = [
        {id:'Rohini Khola', text:'Rohini Khola'},
        {id:'Channawa', text:'Channawa'},
        {id:'Piprahawa', text:'Piprahawa'},
        {id:'Jaispur', text:'Jaispur'},
        {id:'Banjare Gau', text:'Banjare Gau'},
        {id:'Kalhanshangau', text:'Kalhanshangau'},
        {id:'D-gaon', text:'D-gaon'},
        {id:'Khadaicha', text:'Khadaicha'},
        {id:'Shikanpurwa', text:'Shikanpurwa'},
        // {id:'', text:''},
      ]
      {% endfor %}
    {% endif %}

  var gj1 = {
      "name": "MyFeatureType",
      "type": "FeatureCollection",
      "features": []
    };

    // create geojson with points
    {% if gw_locations1 %}
      {% for gw in gw_locations1 %}
        gj1.features.push({
          "type": "Feature",
          "geometry": {
            "type": "Point",
            "coordinates": [{{gw.longitude}}, {{gw.latitude}}]
          },
          "properties": {
            'well_number': '{{gw.well_number}}',
            'district':'{{gw.district}}',
            'place': '{{gw.location}}',
            'type': '{{gw.type.name}}',
            'id':'{{gw.id}}'
          }
        });



 
      {% endfor %}
    {% endif %}

</script>

<script src="{% static 'js/waterApp/layers.js' %}"></script>
<script src="{% static 'js/waterApp/chartData.js' %}"></script>
<script src="{% static 'js/waterApp/chart.js' %}"></script>
<script src="{% static 'js/waterApp/functions.js' %}"></script>
<script src="{% static 'js/waterApp/monitoring.js' %}"></script>

{% endblock %}


{% block css_block %}
<link rel="stylesheet" href="{% static 'css/plugins/leaflet/leaflet.css' %}" />


<link href="{% static 'css/plugins/iCheck/custom.css' %}" rel="stylesheet">
<link href="{% static 'css/plugins/select2/select2.min.css' %}" rel="stylesheet">

<style media="screen">
  .map {
    height: 380px;
  }

  .legend .circle {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin-top: 8px;
  }

  .leaflet-bottom .legend {
    background: white;
    padding: 16px;
    margin: 10px;
  }

  .dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
  }

  .select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #1ab394;
  }

  .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #1AB394;
    color: white;
  }

  .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    /* background-color: white; */
    color: white;
  }
</style>
{% endblock %}
