{% extends 'frontend/base/base.html' %}
{% load static %}

{% block page_content %}

<div class="wrapper wrapper-content">
  <div class="container">
    <div class="row">
      <!-- <div class="col-md-4">
        <div class="ibox">
          <div class="ibox-title">
            <h1>Groundwater well selection</h1>
          </div>
          <div class="ibox-content">

            <div class="">
              <p>Districts</p>
              <div class="i-checks p-w-sm"><label> <input type="checkbox" value=""> <i></i> Banke</label></div>
              <div class="i-checks p-w-sm"><label> <input type="checkbox" value=""> <i></i> Bardiya </label></div>

            </div>
            <div class="">
              <p>Type of Well</p>

              <div class="i-checks p-w-sm"><label> <input type="checkbox" value=""> <i></i> Deep Tubewell</label></div>
              <div class="i-checks p-w-sm"><label> <input type="checkbox" value=""> <i></i> Shallow Tubewell </label></div>
            </div>


          </div>

        </div>

      </div> -->
      <div class="col-md-12">
        <div class="ibox">
          <div class="ibox-title">
            <h1>Historical Well Water level Information </h1>
          </div>
          <div class="ibox-content">
            <div class="form-group">
              <label class="font-normal">Select location of measured wells</label>
              <div class="p-w-sm">
                <select data-placeholder="Choose a Well..." class="select2_wells form-control" multiple="multiple">
                </select>

              </div>
            </div>
            <div id="container" style="height: 500px; min-width: 310px">
            </div>

          </div>

        </div>

      </div>
      <div class="col-md-12">
        <div class="ibox">
          <div class="ibox-title">
            <h1>Historical Well Water level Information </h1>
          </div>
          <div class="ibox-content">

            {% include 'hist_banke_line_graph.html' %}

          </div>

        </div>

      </div>

    </div>

  </div>
</div>

{% endblock %}


{% block js_block %}
<!-- Select2 -->
<script src="{% static 'js/plugins/select2/select2.full.min.js' %}"></script>

<!-- highcharts load -->
<script src="{% static 'js/plugins/highcharts/highstock.js' %}"></script>
<script src="{% static 'js/plugins/highcharts/modules/data.js' %}"></script>
<script src="{% static 'js/plugins/highcharts/modules/exporting.js' %}"></script>
<script src="{% static 'js/plugins/highcharts/modules/export-data.js' %}"></script>


<script src="{% static 'js/waterApp/chartData.js' %}"></script>
<script src="{% static 'js/waterApp/chart.js' %}"></script>
<script src="{% static 'js/waterApp/functions.js' %}"></script>


<script type="text/javascript">
  $(document).ready(function() {
    var select2_options = [
      {% for well in wells_dropdown %}
        {id:"{{well.0}}", text:"{{well.0}}"},
      {% endfor %}
    ];
    $(".select2_wells").select2({
      data: select2_options
    });
    var ids = ['Bahartha', 'Balapur'];
    $(".select2_wells").val(ids);

    $(".select2_wells").trigger('change');

    $('.select2_wells').on('select2:select', function(e) {
      // var selected_wells =
        ajaxHistoricaldata();
    });
    $('.select2_wells').on('select2:unselect', function(e) {
      ajaxHistoricaldata();
    });
    ajaxHistoricaldata();

  });

  </script>

{% endblock %}





{% block css_block %}

<link href="{% static 'css/plugins/select2/select2.min.css' %}" rel="stylesheet">
<style media="screen">
  .select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #1ab394;
  }

  .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #1AB394;
    color: white;
  }

  .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    /* background-color: white; */
    color: white;
  }

</style>
{% endblock %}
