{% extends 'frontend/base/base.html' %}
{% load static %}

{% block page_content %}

<div class="wrapper wrapper-content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="ibox">
          <div class="ibox-title">
            <h1>Background on groundwater monitoring in Nepal</h1>
          </div>
          <div class="ibox-content">

            <p>Nepal's Terai has an estimated 8,800 MCM of groundwater reserves, based on assessments carried out in the 1970s and 1980s,
              and abstraction of groundwater from these aquifers has steadily increased with irrigation being the main water user.
              Electrification, promotion of solar pumps, increasing private investments in diesel pump irrigation and growing
              industrial water use are progressively increasing the demand for groundwater in Nepal's Terai and localized
              reports of groundwater depletion have started to surface. Monitoring the water levels of the Terai's aquifers
              is thus critical to ensure that groundwater development does not deplete the resource beyond sustainable limits.
              While the responsibilities of groundwater management are currently spread across different governmental bodies,
              the GWRDB retains a mandate for groundwater monitoring activities that are to be implemented through its branch offices.
            </p>

          </div>

        </div>

      </div>

    </div>

  </div>
</div>
{% endblock %}
