{% extends 'frontend/base/base.html' %}
{% load static %}

{% block page_content %}

<div class="wrapper wrapper-content">
  <div class="container">
    <div class="row">

      <div class="col-md-6">
        <div class="ibox">
          <div class="ibox-content">
            <h1>Groundwater Monitoring Dashboard</h1>
            <h2>Digital groundwater database for Nepal</h2>
          </div>

        </div>

      </div>
      <div class="col-md-6">
        <div class="ibox">
          <div class="ibox-content">

            <img src="{% static 'img/cimmyt.png' %}" alt="" style="height:100px">
          </div>

        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="ibox ">

          <div class="ibox-content">
            <h1>Introduction and user instructions</h1>
            <p>
              This website is a product of the CSISA-Resilience project in partnership with Nepal’s Groundwater Resources Development Board and
              aims to contribute to Nepal’s capacity to build a digital groundwater monitoring system through a small pilot project in the USAID
              Feed the Future Zone of Nepal’s Tarai region. The ongoing expansion of groundwater resources development will undoubtedly provide
              great contribution to Nepal’s irrigation sector and food security. Along this way, a digital groundwater monitoring system will be
              critical to help the country guide the development and management of the resource by providing decision-makers and communities with
              adequate spatial evidence and information about the opportunities and risks for sustainable and equitable groundwater use.
            </p>
            <p>
              The Cereal Systems Initiative in South Asia (CSISA; www.csisa.org) is supported by USIAD and the Bill and Melinda Gates Foundation and is
              led by the International Maize and Wheat Improvement Center (CIMMYT) and implemented jointly with the International Water Management
              Institute (IWMI), International Food Policy Research Institute (IFPRI) and the International Rice Research Institute (IRRI).
              In Nepal, new support from USAID has led to the implementation of the CSISA Covid-19 Response and Resilience Activity (CSISA-Resilience),
              which is also implemented with Texas A&M University, Cornell University, and International Development Enterprises (iDE). CSISA-Resilience
              involves two inter-linked objectives that address CSISA’s strengths in core areas needed to assist in COVID-19 response and recovery, as
              well as Nepal’s longer-term building of processes and structures that can enhance resilience to shocks, with emphasis empowering youth
              and overcoming challenges faced by women headed farm households. The views expressed on this website do not necessarily reflect the views
              of the donors.

            </p>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
